@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: Inter;
}

.temp_list_movie {
  overflow: hidden;
  position: relative;
  display: flex;
}

.bg_default {
  min-height: 100vh;
  background: #201F1F;
  box-sizing: border-box;
  /* padding-top: 10vh; */
}

.select_profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-height: 90vh;
}

.title_default {
  font-family: Inter;
  font-size: 26px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  color: #E5E5E5;
  margin-bottom: 10px;
}

.color_default {
  color: #E5E5E5;

}

.navbar {
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
  transition: 0.5s all;
  z-index: 99;
}

.scrolled {
  background: #201F1F;
  transition: 0.5s all;
}

.logo_nav {
  height: 50px;
}

.item_movie {
  padding: 3px !important;
  cursor: pointer;
}

.dp_none {
  display: none;
}

.img_movie {

  width: 100%;
  border-radius: 2px !important;
  object-fit: cover !important;
}

.img_top_movie {
  width: 50%;
  border-radius: 2px !important;
  object-fit: cover !important;
}

.banner_info_movie {
  width: 52%;
  height: 60vh;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, rgba(3, 11, 23, 1) 90%, rgba(0, 0, 0, 1) 100%);
  box-sizing: border-box;
}
.my-3 {
  margin: 10px 0;
}
.child_info {
  width: 70%;
}

.temp_img_banner {
  width: 50%;
  height: 60vh;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
}


.parent_progress {
  width: 70%;
  margin-top: 5px;
  height: 4px;
  background: rgba(109, 109, 110, 0.7);
}

.value_progress {
  height: 4px;
  background: #B9090B;
}

.swiper-button-next {
  color: #E5E5E5 !important;
}

.swiper-button-prev {
  color: #E5E5E5 !important;
}

.pl-0 {
  padding-left: 0;
  transition: all .2s;
}

.pl-20 {
  padding-left: 20px;
  transition: all .2s;
}

.movie_detail_hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.temp_overview {
  width: 40%;
  padding: 10px;
}

.h100px {
  height: 100px
}

.title_movie_detail {
  font-family: Inter;
  font-size: 56px;
  font-weight: 800;
  color: #fff;
}