.background-black {
  background-color: black;
}

.textForm {
  color: white;
}

.textForm:focus {
  color: white;
}

.textForm label.Mui-focused {
  color: white;
  border-color: white;
}

.textForm label.MuiInputLabel-root {
  border-color: white;
}

input {
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  box-sizing: border-box;
  background: rgba(234, 234, 234, 0.07);
  border: 1px solid #eaeaea;
  color: white;
}

.btn-sigin {
  border: 1px solid #eaeaea;
  padding: 20px 40px;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  width: 50%;
  margin: 15px auto;
  color: white;
  box-sizing: border-box;
}

.login_sign_app {
  margin: 0 10px;
  color: #fff;
  background: #e50914;
  font-size: 1rem;
  font-weight: 400;
  padding: 7px 17px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.container-btn {
  display: flex;
  justify-content: center;
}

.text-to-register {
  color: white;
  padding-top: 20px;
}


.hover-login {
  background-color: #E50913;
  padding: 15px 0px;
  font-size: 16px;
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 18px;
  cursor: pointer;
}